[build-system]
requires = ["maturin>=1.4,<2.0"]
build-backend = "maturin"

[project]
name = "rshare"
requires-python = ">=3.8"
dynamic = ["version"]
description = "Make it better!"
keywords = ["data", "finance"]
authors = [
  {email = "albertandking@gmail.com"},
  {name = "Albert King"}
]
classifiers = [
  "Programming Language :: Python"
]

dependencies = [
  "requests",
  "beautifulsoup4",
]

[tool.maturin]
features = ["pyo3/extension-module"]
python-packages = ["cal"]
